<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
	  <add name="Dot_net_labEntities" connectionString="metadata=res://*/Dot_net_lab.csdl|res://*/Dot_net_lab.ssdl|res://*/Dot_net_lab.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-FA20EVM\SQLEXPRESS;initial catalog=Dot_net_lab;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>